<form action="/lists/<%= @list.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <p>List Title:<input type="text" name="title" value="<%=@list.title %>"></p>
  <p>List Category:<input type="text" name="category" value="<%=@list.category %>"></p>
  <p>List Content:<input type="text" name="content" value="<%=@list.content %>"></p>
    <input type="submit" value="Update List">
</form>


<form action="/lists/<%= @list.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete List">
</form>
