<a href="/lists/new">Create List</a>

<ul>
    <% @lists.each do |list| %>
        <li><a href="/lists/<%= list.id %>"><%= list.title %><%= list.content %><%= list.category %></a> -- <a href="/lists/<%= list.id %>/edit">Edit</a>
        <form action="/lists/<%= list.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete">
        </form>
        </li>
    <% end %>
