<h2><a href="/lists/new">Create List</a></h2>

<ul>
    <% @lists.each do |list| %>
      <li><h2>List Title: <a href="/lists/<%= list.id %>"><%= list.title %></a></h2>
          <h3>List Category: <%= list.category %></a><br/></h3>
          <h4>List Content:</h4><h5><%= list.content %></a><br/></h5>
        </li>

            <a href="/lists/<%= list.id %>/edit">Edit List</a><br/>
            <form action="/lists/<%= list.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete">
        </form>

    <% end %>
